.App {
  text-align: center;
}

input {
  min-width: 0;
}

.calculator {
  display: flex;
}

.tab-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  border: 1px solid black;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  border: 1px solid black;
}

.chord {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.display {
  display: flex;
  border: solid black 1px;
}

.input {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
}

.tone-0 {
  background-color: red;
}

.tone-2 {
  background-color: orange;
}

.tone-3 {
  background-color: yellow;
}

.tone-4 {
  background-color: greenyellow;
}

.tone-4 {
  background-color: green;
}

.tone-7 {
  background-color: blue;
}

.tone-10 {
  background-color: purple;
}

.tone-11 {
  background-color: violet;
}
