* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #13133c;
}

input {
  min-width: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: #ddd;
  background-color: #080815;
}

#login {
  color: #ddd;
}

#calculator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 40px 0;
  min-height: 0;
}

#tab-views {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #ddd;
  overflow: scroll;
}

.tab-view {
  display: flex;
  padding: 20px;
  margin: 0 40px 0 20px;
}

.start-column {
  padding: 0 10px;
}

.start-column .tab-row,
.start-column .input-row {
  align-items: flex-end;
}

.chord {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.display {
  display: flex;
}

.tab-row {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  height: 150px;
  position: sticky;
}

.edit {
  position: absolute;
  left: 20px;
  bottom: -20px;
  padding-right: 10px;
}

.fret-number {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 0;
}

.tone-0 {
  background-color: rgb(255, 0, 0, .5);
}

.tone-2 {
  background-color: rgb(255, 165, 0, .5);
}

.tone-3 {
  background-color: rgb(255, 255, 0, .5);
}

.tone-4 {
  background-color: rgb(165, 255, 0, .5);
}

.tone-4 {
  background-color: rgb(0, 255, 0, .5);
}

.tone-7 {
  background-color: rgb(0, 0, 255, .5);
}

.tone-10 {
  background-color: rgb(255, 0, 255, .5);
}

.tone-11 {
  background-color: rgb(255, 0, 165, .5);
}

.input-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  margin: 10px 0;
}

.input-row input,
.input-row button {
  display: flex;
  flex: 1 1 auto;
  height: 0;
}

#config {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #ddd;
  width: 400px;
  height: 300px;
  padding: 0 20px 20px 20px;
  margin: 0 20px;
}

#config>div {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

#config-options {
  display: flex;
  flex-direction: column;
}

.config-option {
  display: flex;
  justify-content: start;
  margin: 8px;
}

.config-option div,
.config-option input {
  display: flex;
  width: 150px;
  justify-content: center;
  margin: 0;
}

#num-columns-buttons button {
  margin: 0 3px;
}

#num-column-display {
  width: 30px;
}

#export {
  font-size: 14pt;
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 10px;
}

.tab-detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 180px;
  background-color: white;
}

.tab-detail.hide {
  display: none;
}

.tab-detail-row {
  display: flex;
  flex: 1 1 auto;
}

.tab-detail-cell {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  width: 0;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid black;
}

.tab-detail-cell:first-child {
  justify-content: flex-end;
  padding-right: 5px;
}