* {
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #13133c;
}

input {
  min-width: 0;
}

label {
  padding-right: 16px;
}

.logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 20px;
  color: #ddd;
  background-color: #080815;
}

#header a,
#menu a {
  color: #ddd;
}

#header #header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header h1 {
  padding: 0px;
  margin: 0 20px;
}

#header #menu-button {
  margin: 0 20px;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  left: 0;
  transition: 0.4s;
  padding: 8px 0;
  height: 66vh;
  width: 250px;
  border: 1px solid black;
  border-radius: 0 8px 8px 0;
  background-color: #888;
  color: white;
  overflow: scroll;
}

#menu.hide {
  left: -300px;
}

.menu-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-category {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  font-size: 15pt;
  padding: 8px 25px;
}

.category-item {
  padding-left: 40px;
}

.menu-item:hover {
  background-color: #666;
}

.signup,
.login,
.profile,
.logout {
  margin-left: 15px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 100px 40px 100px;
}

.page > div {
  width: 100%;
}

.window {
  height: 75vh;
}

.column {
  height: 100%;
}

.container {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ddd;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
}

.container a {
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.item {
  display: flex;
  padding-bottom: 20px;
}

.center {
  justify-content: center;
}

.spaced {
  justify-content: space-between;
}

.error-message {
  color: red;
}

.button {
  font-size: 14pt;
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 10px;
}

#tabulator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 40px;
  min-height: 0;
}

#tab-views {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.tab-view {
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
}

.start-column {
  padding: 0 10px;
  width: 60px;
  flex-shrink: 0;
}

.end-column {
  padding: 0 10px;
}

.start-column .tab-row,
.start-column .input-row {
  align-items: flex-end;
}

.chord {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.display {
  display: flex;
}

.tab-row {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  height: 150px;
  position: sticky;
}

.edit {
  position: absolute;
  left: 20px;
  bottom: -20px;
  padding-right: 15px;
}

.fret-number {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 0;
}

.tone-0 {
  background-color: rgb(255, 0, 0, .5);
}

.tone-1 {
  background-color: rgb(255, 127, 0, .5);
}

.tone-2 {
  background-color: rgb(255, 255, 0, .5);
}

.tone-3 {
  background-color: rgb(127, 255, 0, .5);
}

.tone-4 {
  background-color: rgb(0, 255, 0, .5);
}

.tone-5 {
  background-color: rgb(0, 255, 127, .5);
}

.tone-6 {
  background-color: rgb(0, 255, 255, .5);
}

.tone-7 {
  background-color: rgb(0, 127, 255, .5);
}

.tone-8 {
  background-color: rgb(0, 0, 255, .5);
}

.tone-9 {
  background-color: rgb(127, 0, 255, .5);
}

.tone-10 {
  background-color: rgb(255, 0, 225, .5);
}

.tone-11 {
  background-color: rgb(255, 0, 127, .5);
}

.input-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  margin: 10px 0;
}

.input-row input,
.input-row button {
  flex: 1 1 auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 30%;
  margin-left: 20px;
}

#config {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 300px;
}

#config>div {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

#config-options {
  display: flex;
  flex-direction: column;
}

.config-option {
  display: flex;
  justify-content: start;
  margin: 8px;
}

.config-option-control,
.config-option-label {
  display: flex;
  flex: 1 0 auto;
  min-width: 0;
  width: 0;
  margin: 0;
}

.config-option-control {
  justify-content: center;
  align-items: center;
}

#num-columns-buttons button {
  margin: 0 3px;
  width: 25px;
}

#num-column-display {
  width: 30px;
  text-align: center;
}

#export {
  font-size: 14pt;
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 10px;
}

#color-key {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 300px;
}

.color-key-sample {
  display: inline-block;
  width: 20px;
}

.tab-detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 180px;
  background-color: white;
  z-index: 1;
}

.tab-detail.hide {
  display: none;
}

.tab-detail-row {
  display: flex;
  flex: 1 1 auto;
}

.tab-detail-cell {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  width: 0;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid black;
}

.tab-detail-cell:first-child {
  justify-content: flex-end;
  padding-right: 5px;
}

#login,
#signup {
  width: 30%;
}